@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header.logo
{
    position: relative;
    max-width: 80px;
}
.sub-heading
{
    text-align: center;
    color: var(rgb(0, 0, 0));
    font-size: 2rem;
    padding-top: 1rem;
}
.heading
{
    text-align: center;
    color: var(black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
body
{
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 100%;
  max-width: 200px;
  object-fit: cover;
}

.item h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.item p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.item button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.item button:hover {
  background-color: #444;
}
